#mapid {
    height: 500px;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.label-polygon {
    font-size: 14px;
    font-weight: normal;
}







.hrLine {
    background-color: rgba(135, 108, 109, 0.56);
    border: 0;
    height: 1px;
    margin-bottom: 0px;
}



.imgObject {
/*    float: left;*/
}



.mapTitle {
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
    line-height: 50px;
    position: relative;
    top: 6px;
}


.stateObj {
    font-size: 12px;
    color: gray;
    position: relative;
    top: 4px;
}


.mapDescr {
    font-size: 16px;
    line-height: 2;
    padding-left: 18px;
}


.linkGOV {
    color: #954f3e;
    font-size: 14px;
    padding-top: 10px;
}




#map-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid black;
}

#button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
    border: 1px solid red;
    z-index: 9999;
}


.btnLL {
    padding-left: 16px;
}


.btnStyle {
    cursor: pointer;
    background-color: #fffdfd;
    border-radius: 5px;
    background-image: -moz-linear-gradient(center top , ##fffdfd, #f7f7f7);
    border: 2px solid #a2a2a2;
    color: #2f2f2f;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: -5px;
    width:200px;
    padding-left: 40px;
}



input#Btn1 {
    top: 10px;
}

input#Btn2 {
    top: 0px;
}

#showKaratag {
    	position: absolute;
    	left: 40px;
	top: 25px;
    	z-index: inherit;
	font-size: 18px;
}


#showPath {
    	position: absolute;
    	left: 40px;
	top: 70px;
    	z-index: inherit;
	font-size: 18px;
}

#showPathText {
    position: absolute;
    left: 71px;
    top: 66px;
    z-index: inherit;
    font-size: 16px;
}

#showKaratagText {
	position: absolute;
    left: 71px;
    top: 21px;
    z-index: inherit;
    font-size: 16px;
}
